[user]
	email = bjculkin@mix.wvu.edu
	name = Benjamin J. Culkin
[pass]
	signcommits = true
[credential "https://github.com"]
	username = bculkin2442
[credential "https://bitbucket.org"]
	username = bculkin2442
[core]
	excludesfile = ~/.cvsignore
[push]
	default = matching
