[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/vim-vinegar"]
	path = vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/.vim/bundle/rainbow"]
	path = vim/.vim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/bundle/setcolors.vim"]
	path = vim/.vim/bundle/setcolors.vim
	url = https://github.com/felixhummel/setcolors.vim.git
