[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/vim-vinegar"]
	path = vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
